:root {
    --color-background: #343541;
    --color-text: #eee;
    --color-input: #40414f;
    --color-border: #2c2f34;
    --color-highlight: #2e71ff;
}

body {
    display: flex;
    margin: 0;
    font: 400 16px/1.5 "Segoe UI", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    background: var(--color-background);
    color: var(--color-text);
}

.board {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


/* HEADER */

.board-header {
    padding: .5rem 1rem .75rem;
    border-bottom: 1px solid var(--color-border);

    display: flex;
    align-items: center;
    justify-content: center;
}

.board-header h1 {
    margin: 0;
    font-weight: 200;
    line-height: 1.15em;
}

.board-header .board-nickname {
    font-weight: 400;
}

.header-left {
    width: 10%;
    height: 100vh;
    display: flex;
    justify-content: left;
    flex-direction: column;
    background: #202123;
    -webkit-box-shadow: 5px 1px 19px -4px rgba(0, 0, 0, 0.49);
    box-shadow: 5px 1px 19px -4px rgba(0, 0, 0, 0.49);
}

.add-message {
    margin-left: auto;
    padding: .5em 1em;
    border: 1px solid var(--color-highlight);
    background: var(--color-highlight);
    color: var(--color-text);
    transition: .25s ease-in-out;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}

.add-message .fa {
    margin-right: .5em;
    font-size: 1.6em;
}

.add-message:hover,
.add-message:focus {
    background: var(--color-input);
}


/* MESSAGE BOARD */
.board-main .board-overlay {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    padding: 1.3em 5em;
    overflow-y: auto;
    width: 100%;
}

.board-main {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    padding: 1.3em 5em;
    overflow-y: auto;
    width: 60%;

    margin-right: auto;
    margin-left: auto;
}

.messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.message .text {
    max-width: 100%;
    min-width: 100%;
    line-height: 1.25em;
    text-align: left;
}

.message .text p {
    animation: typing 3.5s steps(40, end);
}

.message {
    background: #444654;
    padding: 1.3em 5em;
    max-width: 100%;

    display: flex;
    border-radius: 4px;
    margin-top: 5px;
    flex-direction: row;
}

.message.me {
    background: #3e3f4b;
}

.loader {
    padding: .35em 1em;
    font-style: italic;
    color: var(--color-border);
}


/* TEXT ZONE */

.board-text {
    padding: 1rem;
}

.form-container {
    background: var(--color-input);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    width: 70%;
    padding: .25em;

    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.form-container [type="text"] {
    flex: 1;
    border: 0;
    background: none;
    color: var(--color-text);
    outline: none;
    padding: .25em 1em;
    font-size: 1em;
}

.form-container [type="submit"] {
    border: 0;
    background: none;
    outline: none;
    font-size: 1.25em;
    cursor: pointer;
    color: var(--color-text);
    transition: .25s ease-in-out;
    padding: .25em .75em;
}

.form-container [type="submit"]:hover,
.form-container [type="submit"]:active {
    color: var(--color-highlight);
}

.rating {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.like,
.dislike {
    display: inline-block;
    cursor: pointer;
}

.dislike:hover,
.like:hover {
    color: #2EBDD1;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.active {
    color: transparent;
    text-shadow: 0 0 0 #2EBDD1;
}